<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Euchre</ion-title>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="player$ | async as player">
  <ion-content [fullscreen]="true" color="primary">
    <!-- <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ folder }}</ion-title>
      </ion-toolbar>
    </ion-header> -->
    <!-- <ng-container *ngIf="player1$ | async as player1">
      <div>Player 1:</div>
      <div *ngFor="let card of player1.hand.cards">
        <span>Suit: {{ card.suit }} - Value: {{ card.value }}</span>
      </div>
    </ng-container>
    <ng-container *ngIf="player2$ | async as player2">
      <div>Player 2:</div>
      <div *ngFor="let card of player2.hand.cards">
        <span>Suit: {{ card.suit }} - Value: {{ card.value }}</span>
      </div>
    </ng-container>
    <ng-container *ngIf="player3$ | async as player3">
      <div>Player 3:</div>
      <div *ngFor="let card of player3.hand.cards">
        <span>Suit: {{ card.suit }} - Value: {{ card.value }}</span>
      </div>
    </ng-container> -->
    <div class="main-container">
      <div class="hand-container">
        <hand [player]="player"></hand>
      </div>
      <ion-button expand="full" color="secondary" (click)="begin()">Start</ion-button>
    </div>
  </ion-content>
</ng-container>
